<h1 class="text-center m-3">Bearbeite deinen Blogeintrag</h1>
<div class="container">
    <form action="/blog/edit/<?=$data->getUrlKey()?>" method="post">
        <div class="d-flex">
            <div class="input-group mb-3">
                <label for="form_title" class="input-group-text">Titel:</label>
                <input type="text" class="form-control" placeholder="Titel" aria-label="form_title"
                       aria-describedby="title" id="form_title" name="title" value="<?=$data->getTitle()?>" required>
            </div>
            <div class="input-group mb-3 ms-5">
                <label class="input-group-text" for="form_author">Autor:</label>
                <input type="text" class="form-control" placeholder="Autor" aria-label="Username"
                       aria-describedby="author" id="form_author" name="author" value="<?=$data->getAuthor()?>" required>
            </div>
        </div>

        <div class="form-floating">
            <textarea class="form-control p-3" placeholder="Bearbeite den Text" id="form_text"
                      style="height: 100px"
                      required name="text"><?=$data->getText()?></textarea>
            <label for="form_text">Text</label>
        </div>
        <div class="text-center m-3">
            <button type="submit" class="btn btn-primary" id="submit_button">Update</button>
        </div>
    </form>
</div>
