<body>
<div class="signup-form">
    <form action="/auth/signUp" method="post">
        <h2>Registrierung</h2>
        <p>Bitte ausfüllen zur Registrierung</p>
        <hr>
        <div class="form-group">

            <?php if(array_key_exists('successMessage', $data)): ?>

            <div class="alert alert-success text-center" role="alert">
                <?php echo $data['successMessage']; ?>
            </div>

            <?php endif; ?>

            <?php if(array_key_exists('errorMessage', $data)): ?>

            <div class="alert alert-danger text-center" role="alert">
                <?php echo $data['errorMessage']; ?>
            </div>

            <?php endif; ?>


            <div class="input-group">
                <div class="input-group-prepend">
					<span class="input-group-text">
						<span class="fa fa-user"></span>
					</span>
                </div>
                <input pattern=".{5,100}" title="Bitte 5-100 Zeichen eingeben!" type="text" class="form-control"
                       name="username" placeholder="Username" required="required">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
					<span class="input-group-text">
						<i class="fa fa-paper-plane"></i>
					</span>
                </div>
                <input pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}"
                       title="Bitte geben Sie eine gültige E-mail an!" type="email" class="form-control"
                       name="email" placeholder="Email Addresse"
                       required="required">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
					<span class="input-group-text">
						<i class="fa fa-lock"></i>
					</span>
                </div>
                <input pattern=".{8,50}" title="Bitte 8-50 Zeichen eingeben!" type="password" class="form-control"
                       name="password" placeholder="Passwort" required="required">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
					<span class="input-group-text">
						<i class="fa fa-lock"></i>
						<i class="fa fa-check"></i>
					</span>
                </div>
                <input pattern=".{8,50}" title="Bitte 8-50 Zeichen eingeben!" type="password" class="form-control"
                       name="confirm_password" placeholder="Passwort bestätigen"
                       required="required">
            </div>
        </div>
        <div class="form-group text-center">
            <button type="submit" class="btn btn-primary btn-lg ">Jetzt Registrieren</button>
        </div>
    </form>
    <div class="text-center">
        Bereits registriert? <a href="/auth/login" style="color: #19aa8d;">Hier zum Login!</a>
    </div>
</div>
</body>
